<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Time Bank</title>
  <meta name="description" content="Time Bank">
  <meta name="author" content="GDavydov">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>

  <script src="js/scripts.js"></script>
<p>
  <br />
    <a href="/login">login</a>
  <br />
    Not with us yet?
    <a href="/register"> register now</a>
  <br />
</p>

</body>
</html>
