<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Time Bank</title>
  <meta name="description" content="Time Bank">
  <meta name="author" content="GDavydov">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>

<script src="js/scripts.js"></script>
<p>
  <% if  (!user) { %>
  <br />
    <a href="/login">login</a>
  <br />
    Not with us yet?
    <a href="/register"> register now</a>
  <br />
  <% } else { %>
    <br/>
    <a href='/profile'>Profile</a>
    <br/>
    <a href='/logout'>Logout</a>
    <br/>
  <% } %>

  <div class="filters">

  </div>

  <div class = "container">
  <% if (adverts.length > 0) { %>
    <ul>
      <% adverts.forEach(function(advert) {%>
        <p>
        <br/><b>Author:</b>
        <br/>
        <a href = "/user/<%= advert.user._id %>"><%= advert.user.name %></a>
        <br/>
        <%= advert.post.text %>
        <br/>
        <% if (user) {%>
        <% if (advert.post.advType == "iNeed") {%>
        <form action="/compl_id" method = "POST" enctype="multipart/form-data">
        <br/>
        <input type = "hidden" name = "adv_id" value = "<%= advert.post._id%>" />
        <input type = "submit" value = "Contribute to this job!" />
        </form>
        <% } %>
        <% } %>
        </p>
      <% }); %>
    </ul>
  <% } %>
  </div>

  <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
</p>
</body>
</html>
