<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Time Bank</title>
  <meta name="description" content="Time Bank">
  <meta name="author" content="GDavydov">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
<p>
  <div class='container'>
    <form action='/login' method='POST' enctype="multipart/form-data">
      <label>Login (email):</label>
      <br/>
      <input type='text' name='username' />
      <br/>
      <label>Password:</label>
      <br/>
      <input type='password' name='password' />
      <br/>
      <br /><br />
      <input type="submit" value='Login' />
    </form>
  </div>
</p>
<script src="js/scripts.js"></script>
</body>
</html>
