<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Time Bank</title>
  <meta name="description" content="Time Bank">
  <meta name="author" content="GDavydov">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <% if (!user) { %>
    <div class = 'container'>
      <p>
        401 Forbidden: Not logged in.
        <br/>
        <a href = '/index'>Home</a>
      </p>
    </div>
  <% } else { %>
  Welcome <%= user.name %>
  <div class = 'container'>
    <p>
      <%if (user.avatar) {%>
        <img src='data:image/jpg;base64,<%= user.avatar %>' width=120 height=120 alt="left" /><br>
      <% } else {%>
        <br/>
        I can't see yer face...
        <br/>
      <% } %>
      <form action="/profile_avatar" method="post" enctype = "multipart/form-data">
        Upload a new avatar:
          <input type='file' name='avatar' accept="image/*" />
          <input type='submit' value="upload" />
      </form>
      <a href = '/logout'>Logout</a>
    </p>
  </div>
  <% } %>
  <script src="js/scripts.js"></script>


</body>
</html>
