<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Time Bank</title>
  <meta name="description" content="Time Bank">
  <meta name="author" content="GDavydov">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <% if (!user) { %>
    <div class = 'container'>
      <p>
        401 Forbidden: Not logged in.
        <br/>
        <a href = '/index'>Home</a>
      </p>
    </div>
  <% } else { %>
  <div class = 'container'>
    <p>
      <a href = '/logout'>Logout</a>
    </p>
  </div>
  <% } %>
  <script src="js/scripts.js"></script>


</body>
</html>
