<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
<p>
  <div class='container'>
    <h1>Registration</h1>
    <form action='/register' method='POST' enctype="multipart/form-data">
      Login (email):
      <br/>
      <input type='text' name='email' />
      <br/>
      Name (please enter real name):
      <br/>
      <input type='text' name='name' />
      <br/>
      Password:
      <br/>
      <input type='password' name='password' />
      <br/>
      Repeat password:
      <br/>
      <input type='password' name='password2' />
      <br/>

      <br /><br />
      <input type="submit" value='Confirm' />
    </form>
  </div>
</p>

</body>
</html>
