<% if (user) { %>
  <div class="user">
    <%if (user.avatar) {%>
      <img src='data:image/jpg;base64,<%= user.avatar %>' width=30 height=30 alt="left" />
    <% } %>
    <p><a href="/user/<%= user._id %>"><%= user.name %></a></p>
  </div>
<% } else { %><p>Кудах-тах-тах</p><% } %>
